.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: none;
    border-style: none;
    border-radius: 25em;
    background-color: #eff4f6;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.2em 1em;
    min-width: 9em;
    box-shadow: 0px 8px 7px -7px rgba(0, 0, 0, 0.44);
}

.buttons:hover {
    background-color: #a0dcef;
}
