.notifications {
  color: blue;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-decoration: none;
  /* padding: 15px 26px; */
}
.bell-icon {
  width: 4em;
  height: 4em;
}

.notifications .notification-number {
  /* top: 40%; */
  /* left: 50%; */
  transform: translate(-30%, -60%);
  padding: 5px;
  border-radius: 50%;
  max-width: 2.5em;
  background: var(--alert);
  color: var(--table-color);
  text-align: center;
}

.modal-modal-title {
  font-size: medium;
}
