* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-color: rgb(0, 0, 0);
  --bg-color: #d0d4d6;
  --primary-color: #5e9309;
  --secondary-color: #4252e0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
