.doctor-header {
  padding-left: 14.3em;
  display: flex;
  height: 20vh;
  align-items: center;
  width: 100vw;
  gap: 5em;
}
.doctor-title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 3em;
}
.app-logo {
  /* height: 30%; */
  /* transform: scale(30%); */
  height: 7em;
  width: 7em;
}
