.current-med-table {
  display: flex;
  flex-direction: column;
}

.current-med-columns {
  padding: 1em;
  background-color: var(--bg-color);
  display: flex;
  border-radius: 1em;
  margin-left: 14em;
  margin-top: 1.5em;
  font-family: Inter, sans-serif;
  font-size: 1.1em;
  flex-direction: column;
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.55);
}
.allergy-table {
  padding: 1em;
  background-color: var(--bg-color);
  display: flex;
  border-radius: 1em;
  margin: 1.5em 0 1.5em 14em;
  font-family: Inter, sans-serif;
  font-size: 1.1em;
  flex-direction: column;
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.55);
}

.current-med-header {
  font-size: 1.5em;
  margin-left: 12em;
}

.allergy-table th {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
}
