.current-med-table {
  padding: 1em;
  background-color: var(--bg-color);
  display: flex;
  border-radius: 1em;
  margin-left: 8em;
  margin-top: 1.5em;
  font-family: Inter, sans-serif;
  font-size: 1.5em;
  flex-direction: column;
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.55);
}
