.accordian-container {
    /* border: 3px solid var(--font-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    /* text-align: center; */
    background-color: var(--accordian-color);
    border-radius: 5%;
    padding: 2rem;
    /* max-height: 500px; */
    /* overflow-y: scroll; */
}

.interaction,
.noInteraction {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.interaction {
    text-align: center;
    margin: auto;
    border: 2px solid var(--alert);
    color: var(--alert);
}

#paused {
    background-color: var(--table-alternate-rows);
}
