.accordian-container {
  border: 3px solid var(--font-color);
  padding: 2rem;
  max-height: 500px;
  overflow-y: scroll;
}

.interaction,
.noInteraction {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
}

.interaction {
  border: 2px solid var(--alert);
  color: var(--alert);
}

#paused {
  background-color: var(--table-alternate-rows);
}
