.accessLogo {
    height: 80px;
    width: 80px;
    top: 50%;
    left: 100%;
    position: fixed;
    z-index: 1;
    transform: translate(-100%, -50%);
}
.accessLogo-button {
    height: 1px;
    width: 1px;
    top: 50%;
    left: 100%;
    position: fixed;
    z-index: 1;
    transform: translate(-100%, -50%);
}
