.accessLogo-doctor {
    height: 80px;
    width: 80px;
    top: 50%;
    left: 100%;
    position: fixed;
    z-index: 1;
    transform: translate(-100%, -50%);
    cursor: grab;
}
.accessLogo-doctor:hover {
    cursor: pointer;
}
/* .accessLogo-button {
    height: 1px;
    width: 1px;
    top: 50%;
    left: 100%;
    position: fixed;
    z-index: 1;
    transform: translate(-100%, -50%);
} */

.accessLogo-patient {
    height: 4em;
    width: 4em;
}
.accessLogo-patient {
    cursor: pointer;
}
